<!doctype html>
<html>

<head>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <title>Error 404 - Page Not Found!</title>
    <link rel="stylesheet" type="text/css" href="../public/css/404_style.css" />
    <!-- <link href="../public/images/404.bmp" rel="shortcut icon" type="image/x-icon" /> -->
</head>

<body>
    <div class="container">
        <div class="ops">
            <img src="../public/images/404.bmp" />
            <br/>
            <h2>OOPS! PAGE NOT FOUND</h2>
            <h4>The page you are looking for might have been removed  
                <br />or is temporarily unavailable.</h4>
            <br />
            <a class="buton" href="https://www.google.com/">HOME PAGE</a>

        </div>
        
    </div>
</body>

</html>