<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <title>xxxxxx</title> -->
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta name="description" content="A xxx provider"> -->
    <link rel="stylesheet" type="text/css" href="../public/css/home_style.css" />
</head>

<body>
    <div class="container">
        <div>
            <h3>##Name##</h3>
            <br>
        </div>

        <div>
            <img style="width: 100%" ; src="../public/images/banner.jpg">
            <br>
        </div>

        <div>
            <h4>Our Products</h4>
        </div>

        <div class="products">
            <div class="mid_products">
                <div class="split">
                    <div class="column1">
                        <div class="product1">

                            <img src="https://assets.nicepagecdn.com/11a8ddce/85995/images/pexels-photo-1450082.jpeg"
                                alt="" class="product1_image" data-image-width="1200" data-image-height="1200">
                            <h5 class="product-text"> Product 1</h5>

                            <div class="product-exp">
                                Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo
                                sagittis suscipit ultrices.
                            </div>

                            <div class="price-box">
                                <div style="font-size: 1.5rem; font-weight: 700;">$17.00</div>
                            </div>

                        </div>

                    </div>

                    <div class="column1">
                        <div class="product1">
                            <img src="https://assets.nicepagecdn.com/11a8ddce/85995/images/pexels-photo-1450082.jpeg"
                                alt="" class="product1_image" data-image-width="1200" data-image-height="1200">

                            <h5 class="product-text"> Product 2</h5>

                            <div class="product-exp">
                                Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo
                                sagittis suscipit ultrices.
                            </div>

                            <div class="price-box">
                                <div style="font-size: 1.5rem; font-weight: 700;">$17.00</div>
                            </div>
                        </div>


                    </div>

                    <div class="column1">
                        <div class="product1">
                            <img src="https://assets.nicepagecdn.com/11a8ddce/85995/images/pexels-photo-1450082.jpeg"
                                alt="" class="product1_image" data-image-width="1200" data-image-height="1200">

                            <h5 class="product-text"> Product 3</h5>


                            <div class="product-exp">
                                Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo
                                sagittis suscipit ultrices.
                            </div>

                            <div class="price-box">
                                <div style="font-size: 1.5rem; font-weight: 700;">$17.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="column1">
                        <div class="product1">
                            <img src="https://assets.nicepagecdn.com/11a8ddce/85995/images/pexels-photo-1450082.jpeg"
                                alt="" class="product1_image" data-image-width="1200" data-image-height="1200">
                            <h5 class="product-text"> Product 4</h5>


                            <div class="product-exp">
                                Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo
                                sagittis suscipit ultrices.
                            </div>

                            <div class="price-box">
                                <div style="font-size: 1.5rem; font-weight: 700;">$17.00</div>
                            </div>
                        </div>


                    </div>



                </div>

            </div>
        </div>

        <div>
            <h4>Our History</h4>
            <br>
            <div class="history">
                <h5>Since xxxx, our company has been at the forefront of the global market,
                    specializing in providing top-quality safety grab bars to customers worldwide.
                    Since our inception, we have focused on delivering excellence in both product performance and
                    customer
                    service.
                    With a keen eye for international trends and standards,
                    we have developed a diverse range of grab bars tailored to meet the unique needs of various
                    regions and
                    cultures.
                    Our commitment to innovation has propelled us to become a trusted partner for distributors,
                    contractors,
                    and project managers seeking reliable safety solutions. With a firm dedication to quality
                    assurance and
                    stringent manufacturing standards, we strive to ensure that every grab bar we produce meets the
                    highest
                    levels of
                    durability and reliability, offering peace of mind to our valued customers across the globe.
                </h5>

            </div>

        </div>

        <div>
            <h4>Contact Us</h4>
            <br>
        </div>
</body>