<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="stylesheet" href="/css/alertpage.css">
</head>
<body>
  <div class="container">
    <div class="alert alert-success" role="alert">
      <h1> <%= message %> </h1>
      <h2>Thank you for your inquiry. Our team will get in touch with you soon.</h2>
      <br>
      <a href="<%= redirectUrl %>"><p>Back to Home Page </p></a>
    </div>
  </div>
</body>
</html>