.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.home-article {
  width: 100%;
  height: 1900px;
  display: flex;
  overflow: auto;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
  /* background-color: rgb(193, 24, 24); */
  flex-direction: column
  
}

.home-navigation {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30em;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgb(78, 210, 116);

}

.home-product {
  top: 30em;
  left: 0px;
  width: 100%;
  height: 30em;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgb(37, 45, 181);

}

.home-history {
  top: 60em;
  left: 0px;
  width: 100%;
  height: 20em;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgb(210, 78, 109);
}
.home-contactus {
  top: 80em;
  left: 0px;
  width: 100%;
  height: 30em;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgb(80, 78, 210);
}
.home-footer {
  top: 110em;
  left: 0px;
  width: 100%;
  height: 20em;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgb(13, 13, 17);
}

.home-text {
  top: 10px;
  left: 50px;
  color: #616161;
  width: var(--dl-size-size-large);
  height: auto;
  margin: auto;
  position: absolute;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
  font-size:4vw
}

.banner {
  margin-top:7%;
  width: 100%;
  /* height: 100%; */
  object-fit: scale-down;
}

.home-text14 {
  /* top: 700px; */
  color: rgba(0, 0, 0, 1);
  /* right: 0px; */
  /* width: 100%; */
  /* height: auto; */
  /* position: absolute; */
  /* align-self: stretch; */
  text-align: center;
  /* line-height: 110.00000238418579%; */
}

/* ================================================== */



.home-cards {
  gap: 32px;
  top: 800px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.home-card {
  gap: 24px;
  width: 404px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.home-image {
  width: 100%;
  height: 346px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(247, 247, 247, 1);
}

.home-copy {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.home-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 150%;
}

.home-text04 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 150%;
}

.home-card1 {
  gap: 24px;
  width: 404px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.home-image1 {
  width: 404px;
  height: 346px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(247, 247, 247, 1);
}

.home-copy1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.home-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 150%;
}

.home-text08 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 150%;
}

.home-card2 {
  gap: 24px;
  width: 404px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.home-image2 {
  width: 404px;
  height: 346px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: stretch;
  border-radius: 8px;
  background-color: rgba(247, 247, 247, 1);
}

.home-copy2 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.home-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 150%;
}

.home-text12 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 150%;
}

.home-hero-image {
  top: 122px;
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-maxwidth);
  height: 670px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(247, 247, 247, 1);
}



.home-text16 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}

.home-frame15-footer {
  top: 2476px;
  left: 0px;
  width: 100%;
  height: 250px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(190, 190, 190, 1);
}

.home-divider {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}

.home-text17 {
  color: rgb(0, 0, 0);
  right: 0px;
  width: 100%;
  bottom: 50px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.home-text18 {
  color: rgb(0, 0, 0);
  /* right: -2px; */
  width: 100%;
  top: 10px;
  height: var(--dl-size-size-xlarge);
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.home-text19 {
  text-decoration: none;
}

.home-text21 {
  text-decoration: none;
}

.home-text22 {
  text-decoration: underline;
}

.home-text23 {
  text-decoration: none;
}

.home-text25 {
  text-decoration: none;
}

.home-text26 {
  text-decoration: underline;
}

.home-text28 {
  text-decoration: none;
}

.home-text29 {
  text-decoration: underline;
}

.home-text31 {
  top: 100px;
  color: rgb(94, 91, 91);
  width: 50%;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
  font-style: italic;

}

.home-text32 {
  top: 1380px;
  color: rgba(0, 0, 0, 1);
  width: 90%;
  height: auto;
  position: absolute;
  text-align: justify;
  line-height: 150%;

}

.home-text37 {
  top: 1290px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  align-self: stretch;
  text-align: center;
  line-height: 110.00000238418579%;
}

.home-input {
  gap: 8px;
  /* width: 295px; */
  width: 50%;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.home-text39 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}

.home-field {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.home-text41 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}

.home-input1 {
  gap: 8px;
  width: 50%;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.home-text43 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}

.home-field1 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.home-text45 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}

.home-input2 {
  gap: 8px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.home-text47 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}

.home-field2 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.home-text49 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}

.home-input3 {
  gap: 8px;
  width: 100%;
  height: 151px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.home-text51 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}

.home-field3 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.home-text53 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}

.home-button {
  gap: 8px;
  display: flex;
  /* padding: 16px 32px; */
  flex-grow: 1;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}

.home-text55 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}

.home-forms {
  gap: 32px;
  top: 1800px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 90%;
  height: 500px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.home-form {
  gap: 20px;
  left: 200px;
  width: 50%;
  height: 100%;
  bottom: auto;
  display: flex;
  /* position: absolute; */
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  /* flex-direction: column; */


}